/* ==================================================================
    Header and Nav
================================================================== */

nav {
  width: 56.5%;
  display: inline-block;
}

nav ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

nav li {
  display: inline-block;
}

nav li a {
  /*color: #004de6;*/
    /*color: #6682df;*/
   color: white;
  /*color: #d5635c;*/
 /*color: #aa79c1;*/
  /*color: #252525;*/
  text-decoration: none;
  /*font-size: 18px;*/
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  float: center;
  padding-top: 10px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 5px;
  margin-left: 7px;
  margin-right: 7px;
  /*border-bottom: 2px solid #4c9cf1;*/
  /*border-bottom: 2px solid #aa79c1;*/
  /*border-bottom: 2px solid #252525;*/
  transition: color 0.3s ease;
}

header {
  text-align: right;
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  /*background: black;*/
  background: black;
  /*background: #2a2e48;*/
}

header .blog-name {
  /*width: 35%;*/
  width: 35%;
  display: inline-block;
  text-align: right;
  /*font-size: 15px;*/
  font-size: 12px;
  font-family: "Lucida Console", Monaco, monospace;
  /*padding-top: 10px;*/

}

header .blog-name a {
  /*color: #a6a2a0;*/
  /*color: #d5635c;*/
  /*color: #6682df;*/
  color: white;
  font-size: 14px;
  text-decoration: none;
}

header li a:hover {
  color: #dddddd;
  /*border-bottom: 2px solid #aa79c1;*/
  /*border-bottom: 2px solid white;*/
}

#menu-icon {
  display: none;
}

@media (max-width: 480px) {
  header {
    padding-left: 6%;
    padding-right: 6%;
  }
}

@media (min-width: 481px) {
  header {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
}

/* wide display: enforce maximum width of header to match content */
@media (min-width: 940px) {
  header {
    /*width: 705px;*/
    /*width: 1300px;*/
    width: 100%;

    /*height: 93px;*/
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    background: #252525;
    background-image: url("/assets/images/banner.png");
  }
  
}

/*
medium display: nav goes under name
*/
@media (max-width: 760px) {
  header { display: block; }

  header .blog-name {
    display: block;
    width: 100%;
    padding-bottom: 10px;
  }

  nav {
    width: 100%;
  }
}

/*
narrow display: collapse the header (don't show the menu items)
instead, display a burger menu.
*/
@media (max-width: 500px) {
  header {
    height: 45px;
    display: flex;
    align-items: center;
  }

  header .blog-name {
    display: inline-block;
    width: 70%;
  }

  nav {
    display: inline-block;
    width: 27%;
  }

  nav ul,
  nav:active ul {
    display: none;
    position: absolute;

    /* padding: 20px; */
    background: #fff;
    border: 1px solid #444;
    right: 50px;
    top: 60px;
    width: 30%;
    border-radius: 4px 0 4px 4px;
    z-index: 1;
  }

  nav li {
    text-align: left;
    display: block;
    padding: 0;
    margin: 0;
  }
  header li a { border-bottom: none; }
  header li a:hover { border-bottom: none; }

  nav:hover ul {
    display: block;
  }

  #menu-icon {
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
  }
}

table {
  line-height: 1em;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 1.5em;
}

tr:first-of-type {
  background: #eae9f4;
}

tr:first-of-type > th {
  text-align: center;
}

tr,
th,
td {
  padding: 10px;
  border: 1px solid lightgray;
}

table tbody tr td {
  border: 1px solid lightgray;
}


.people-container{
    width: 100%;
    overflow: hidden; /* add this to contain floated children */
}

.people {
  height:150px;
  width:150px;
  margin-bottom: 40px;
  color: #283834;
  float:left;
}

.people a{
  color: #283834;
}

.circle {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
}


/*----------------------------------*/

.footer {
    background-image: url('/assets/images/footer.png');
    margin-top: 25px;
    padding-bottom: 50px;
    
}
