/* ==================================================================
    Header and Nav
================================================================== */

#menu-icon {
  display: none;
}


nav {
  flex: 0 1 auto;
  margin-left: auto;
  display: inline-flex;
}

nav ul {
  display: flex;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

nav li {
  display: inline-block;
}

nav li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  display: inline-block;
  float: center;
  padding-top: 10px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 5px;
  margin-left: 7px;
  margin-right: 7px;
  transition: color 0.3s ease;
}

header {
  padding: 1px 4%;
  display: flex;
  align-items: center;
  background: #2e5454;
  background-image: url("/assets/images/banner.png");
}

header > .container {
    width: 1010px;
    margin: 0 auto;
    display: flex;
    align-content: space-between;
}

header li a:hover {
  color: #dddddd;
}

header .julia-slogan-header {
    text-align: left;
    color: white;
    margin: 15px 15px 15px 15px;
    flex: 1 1 350px;
}

.people-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.people {
  height:110px;
  width:110px;
  margin-bottom: 80px;
  color: #283834;
}

.people img{
  height:100px;
  width:100px;
}

.people a{
  color: #283834;
}

.grants-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grants {
  width:150px;
  margin-left:15px;
  margin-right:15px;
  margin-bottom: 45px;
  color: #283834;
}

.grants img{
  height:130px;
  width:130px;
}

.grants a{
  color: #283834;
}

.circle {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
}


.news-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.news {
    width: 30%;

    background-image:  url("/assets/images/news.png");
    color: #fff;
    counter-increment: myCounter;
    margin: 10px 10px 10px 10px;
    padding-top:35px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:20px;
    position: relative;
    top: 1em;
    border-radius:  1em 1em 1em 1em;
    /*padding-left: 9em;*/
    font-weight: bold;
}
.news a{
    color: #fff;
}
.news .item{
    content: counter(myCounter, decimal-leading-zero);
    display: inline-block;
    text-align: center;
    background-color:  #8cbfab;
    padding: 10px;
    position: absolute; 
    top: -10px;
    left: 10px;
    border-radius: 50%;
}

.footer {
    background-image: url('/assets/images/footer.png');
    margin-top: 25px;
    padding-bottom: 40px;
}

.publicationlink{
    color:#6897b2;
    font-weight:bold;
    font-style:italic;
}

/* wide display: enforce maximum width of header to match content */
@media (min-width: 900px) {
  header {
    width: 100%;
  }
}

/*
narrow display: collapse the header (don't show the menu items)
instead, display a burger menu.
*/
@media (max-width: 700px) {
  header {
    display: flex;
    align-items: center;
  }

  header .julia-logo-header {
      margin-left: 0%;
  }

  nav {

    margin-top: 20px;
  }

  nav ul,
  nav:active ul {
    display: none;
    position: absolute;
    background: #fff;
    border: 1px solid #444;
    right: 50px;
    top: 60px;
    border-radius: 4px 0 4px 4px;
    z-index: 1;
  }

  nav li {
    text-align: left;
    display: block;
    padding: 0;
    margin: 0;
  }
  header li a { border-bottom: none; color: black;}
  header li a:hover { border-bottom: none;}

  nav:hover ul {
    display: block;
  }

  #menu-icon {
    display: inline-block;
    width: 90%;
    /*margin-right: 10px;*/
    /*margin-top: 5px;*/
  }
  
  .news {
    width:100%;
  }
  
  .people-container{
     justify-content: center;
  }
  
}

table {
  line-height: 1em;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 1.5em;
}

tr:first-of-type {
  background: #eae9f4;
}

tr:first-of-type > th {
  text-align: center;
}

tr,
th,
td {
  padding: 10px;
  border: 1px solid lightgray;
}

table tbody tr td {
  border: 1px solid lightgray;
}

