<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
    {{if hasmath}} {{insert head_katex.html }}     {{end}}
    {{if hascode}} {{insert head_highlight.html }}   {{end}}
    <link rel="stylesheet" href="/css/franklin.css">
    <link rel="stylesheet" href="/css/JuliaLab.css">
  
    <link rel="stylesheet" type="text/css" href="/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script type="text/javascript" src="/js/modernizr.custom.26633.js"></script>
    <noscript>
        <link rel="stylesheet" type="text/css" href="/css/fallback.css" />
    </noscript>
    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="/css/fallback.css" />
    <![endif]-->
    
  <link rel="icon" href="/assets/logo.png">
  {{isdef title}} <title>{{fill title}}</title>  {{end}}
</head>
<body>
  {{insert header.html}}

<!-- Content appended here -->
